.footer {
    background-color: $brand-color-background;
    padding: 60px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.block-left {
    margin-right: 70px;
    display: inline-block;
}

a.logo-footer {
    color: $brand-color-white;
    font-size: 26px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    padding-bottom: 20px;
    line-height: 1.174;
    display: block;
    width: max-content;
}

address {
    display: inline-block;
    color: $brand-color-white;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.714;
}

address p {
    margin: 0 0 9px 0;
}

address a {
    margin-top: 9px;
    color: $brand-color-white;
    text-decoration: none;
    opacity: 0.6;
    transition: color 250 cubic-bezier(0.4, 0, 0.2, 1);
}

.last {
    margin-bottom: 0;
}

.social-link-f {
    display: flex;
    fill: $brand-color-white;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.s-links_items {
    list-style: none;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
}

.s-links {
    color: $brand-color-white;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    line-height: 1.17em;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-right: 93px;
    
}

.s-links>p {
    margin: 12px 0 20px 0;
}

.social-link-f:hover,
.social-link-f:focus {
    background-color: $brand-color-blue;
    fill: $brand-color-white;
}

.subcribe {
    color: $brand-color-white;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    line-height: 1.17em;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.subcribe-field {
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    border-radius: 4px;
    width: 358px;
    padding: 15px 16px;
    margin-right: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    margin: 0 12px 0 0;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--brand-color-white);
}

.subcribe-field:focus {
    border-color: $brand-color-blue;
    color: $brand-color-white;
}

.button-subcribe:hover {
    background-color: #188ce8;
}

.button-subcribe {
    background-color: $brand-color-blue;
    color: $brand-color-white;
    padding: 10px 62px 10px 29px;
    font-weight: 700;
    line-height: 1.875;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    position: relative;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
}

.button-icon {
    top: 13px;
    right: 28px;
    position: absolute;
    fill: $brand-color-white;
}

