
    $brand-color: #212121;
    $brand-color-blue: #2196f3;
    $brand-color-border: #ececec;
    $brand-color-link: #757575;
    $brand-color-white: #ffffff;
    $brand-color-black: #000000;
    $brand-color-background: #2f303a;
    $margin-li: 30px;
